    <div class = "navbar">
        <div class = "left">
            <img src = "../assets/logo_black.png" class = "logo"/>
        </div>
        
       <div class = prtitle (click) = "projects()">
        {{this.service.title}}
       </div>
        <div class = "right">
            <label class = "title">{{this.service.company}}</label>
            <label class = "user" (click) = "accountSettings()">{{this.service.name}}</label>
            <label class = "logoff" (click) = "logoff()">Log Off</label>
        </div>
    </div>

