<body class = "bdy">
    <div class = "divTitle">
        <label class = "title">Subtotal</label>
    </div>
    <div class = "unitmodel" (click)="test()">
        Unit model:
    </div>
    <div class = "inv">
        <div class = alls>
            <div class = "option">
                <label>Unit: </label>
                <label>VZWL15G4ATAB30-A</label>
            </div>
            <div class = "option">
                <label>Voltage: </label>
                <label>{{this.service.project.p1.voltage}}</label>
            </div>
            <div class = "option">
                <label>Quantity: </label>
                <label>{{this.service.project.p1.quantity}}</label>
            </div>
            <div class = "option">
                <label>Unit Tag: </label>
                <label>{{this.service.project.p1.unittag}}</label>
            </div>
            <div class = "option">
                <label>Tonnage: </label>
                <label>{{this.service.project.p1.tonnage}}</label>
            </div>
            
        </div>
        <div class = "prices1">
            <div class = "prc">
                <label>$</label>
                <label>{{this.unitprice}}</label> 
            </div>
            <div class = "prc">
                <label>$</label>
                <label>{{this.voltageprice}}</label> 
            </div>
        </div>

    </div>
    
    <div class = "options">
        Options:
    </div>
    <div class = "inv">
        <div class = alls>
            <div class = "option">
                <label>Module: {{this.service.project.p1.module}}</label>
            </div>
            <div class = "option">
                <label>Blower Type: {{this.service.project.p1.blowertype}}</label>
            </div>
            <div class = "option">
                <label>Evap Air Path: {{this.service.project.p1.evapairpath}}</label>
            </div>
            <div class = "option">
                <label>Digital Scroll Comp: {{this.service.project.p1.digitalscrollcomp}}</label>
            </div>
            <!-- <div class = "option">
                <label>Fluid Type: </label>
                <label>{{this.service.project.p2.fluidtype}}</label>
            </div> -->
            <div class = "option">
                <label>Evap Filter type: {{this.service.project.p2.evapfiltertype}}</label>
            </div>
            <div class = "option">
                <label>Heat Type: {{this.service.project.p2.heattype}}</label>
            </div>
            <div class = "option">
                <label>Air Side Economizer: {{this.service.project.p2.airsideecon}}</label>
            </div>
            <div class = "option">
                <label>Chilled Water Coil: {{this.service.project.p2.chilledwatercoil}}</label>
            </div>
            <div class = "option">
                <label>Water Side Economizer: {{this.service.project.p2.watersideecon}}</label>
            </div>
            <!-- <div class = "option">
                <label>Air Side Economizer: </label>
                <label>{{this.service.project.p2.airsideecon}}</label>
            </div> -->
            <div class = "option">
                <label>Heat And Reheat: {{this.service.project.p2.heatnreheat}}</label>
            </div>
            <div class = "option">
                <label>Fluid Type: {{this.service.project.p2.fluidtype2}}</label>
            </div>
            <div class = "option">
                <label>Non - Fused Disconnect: {{this.nonfplaceholder}}</label>
            </div>
            <div class = "option">
                <label>Phase Reversal Sensor (3ph only): {{this.service.project.p4.phasereversalsens}}</label>
            </div>
            <div class = "option">
                <label>Freezestat: {{this.service.project.p4.freezestat}}</label>
            </div>
            <div class = "option">
                <label>Freezestat - Temp Avg: {{this.service.project.p4.tempavg}}</label>
            </div>
            <div class = "option">
                <label>Condensate Pump: {{this.service.project.p4.condesnatepump}}</label>
            </div>
            <div class = "option">
                <label>Compressor Crankcase Heater: {{this.service.project.p4.compressorheater}}</label>
            </div>
            <div class = "option">
                <label>Remote Water Pump Control: {{this.service.project.p4.remotewaterpump}}</label>
            </div>
            <div class = "option">
                <label>Water Flow Proving Switch: {{this.service.project.p4.waterflowswitch}}</label>
            </div>
            <div class = "option">
                <label></label>
                <label>Dry Contacts(qty): {{this.service.project.p4.contactsqty}}</label>
            </div>
            <div class = "option">
                <label>VAV App Type: {{this.service.project.p5.vavapptype}}</label>
            </div>
            <div class = "option">
                <label>Wall Mount Temp Sensor: {{this.service.project.p5.walltempsens}}</label>
            </div>
            <div class = "option">
                <label>Wall Mount Temp/Humid Sensor: {{this.service.project.p5.wallhumidsens}}</label>
            </div>
            <div class = "option">
                <label>Duct Mount Temp Sensor: {{this.service.project.p5.ducttempsens}}</label>
            </div>
            <div class = "option">
                <label>Duct Mount Temp/Humid Sensor: {{this.service.project.p5.ducthumidsens}}</label>
            </div>
            <div class = "option">
                <label>BMS Communications: {{this.service.project.p5.bmscomm}}</label>
            </div>
            <div class = "option">
                <label>Marvel Premium Display: {{this.service.project.p5.marveldisplay}}</label>
            </div>
            <div class = "option">
                <label>SCR: {{this.service.project.p5.scr}}</label>
            </div>
            <div class = "option">\
                <label>Smoke Detector: {{this.service.project.p5.smokedetector}}</label>
            </div>
            <div class = "option">
                <label>Firestat: {{this.service.project.p5.firestat}}</label>
            </div>
            <div class = "option">
                <label>Ship Split: {{this.service.project.p6.shipsplit}}</label>
            </div>
            <div class = "option">
                <label>Compressor Acoustic Cover: {{this.service.project.p6.compressoracoustic}}</label>
            </div>
            <div class = "option">
                <label>Protective Coil: {{this.service.project.p6.protectivecoil}}</label>
            </div>
            <div class = "option">
                <label>Unit Insulation: {{this.service.project.p6.unitinsul}}</label>
            </div>
            <div class = "option">
                <label>Total Cost For Non Standard Features: {{this.service.project.p6.totalcost}}</label>
            </div>
        </div>

        <div class = "prices">
            <div class = "prc">
                
                <label>{{this.moduleprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.blowerprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.evapprice | currency}}</label>
            </div>
            <div class = "prc" >
                <label>{{this.digitalprice | currency}}</label>
            </div>
            <!-- <div class = "prc" >
                <label>10</label>
                <label>$</label>
            </div> -->
            <div class = "prc">
                <label>{{this.evapfilterprice | currency}}</label>  
            </div>
            <div class = "prc">
                <label>{{this.heattypeprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.airsideprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.chilledwaterprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.watereconprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.heatnreheatprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>$</label>
                <label>0.00</label>
            </div>
            <div class = "prc">
                <label>{{this.nonfusedprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.phasereversalprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.freezestatprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.freezestattempprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.condensateprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.compressorprice | currency}}</label>
            </div>
            <!-- <div class = "prc">
                <label>$</label>
                <label>10</label>
            </div> -->
            <div class = "prc">
                <label>{{this.remotewaterpumpprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.waterswitchprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.contactsprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.vavprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.walltempprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.wallhumidprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.ducttempprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.ducthumidprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.bmsprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.marvelprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.scrprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.smokeprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.firestatprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.shipsplitprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.compressoracousticprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.protectiveprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.unitinsulprice | currency}}</label>
            </div>
            <div class = "prc">
                <label>{{this.nonstandardprice | currency}}</label>
            </div>
        </div>
    </div>

    <div class = "unitmodel" (click)="test()">
        Total:
    </div>
    <div class = "prices2">
        <div class = "prc" >
            <label>{{this.totalsum | currency}}</label> 
        </div>
    </div>
</body>
